* {
    color: pink;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.black_bg {
    background-color: rgb(32, 32, 32);
    color: white;
}

.cta {
    padding: 24px 48px;
    background-color: white;
    color: black;
    text-decoration: none;
    width: fit-content;

    font-size: 16px;
    font-weight: bold;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_spaced {
    justify-content: space-between;
}

.card_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.service_card {
    max-width: 250px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project_card {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.testimony_card {
    max-width: 280px;
    background-color: gray;
    padding: 16px;

    display: flex;
    flex-direction: column;
    text-align: left;
}

a {
    color: white;
}

section,
footer {
    padding: 64px 24px;

    h2 {
        margin-bottom: 64px;
    }
}

nav {
    padding: 24px 24px;

}

#clickable_logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#nav_links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 20px;
}

#hero {
    padding-bottom: 192px;
}

#hero_content {
    max-width: 500px;
    text-align: left;
    justify-content: space-between;

    h1 {
        font-weight: 400;

        p {
            font-size: 24px;
        }

        strong {
            font-size: 64px;
        }
    }
}
