* {
    /* color: pink; */
    margin: 0;
    padding: 0;
    font-family: "Epilogue", sans-serif;
    font-weight: 400;
}

.black_bg {
    background-color: rgb(32, 32, 32);
    color: white;
}

.cta {
    padding: 24px 48px;
    background-color: white;
    color: black;
    text-decoration: none;
    width: fit-content;

    font-size: 18px;
    font-weight: 600;
}

.container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_spaced {
    justify-content: space-between;
}

.card_holder {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.service_card {
    max-width: 250px;

    img {
        width: 100px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

.project_card {
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }
}

.testimony_card {
    max-width: 250px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 32px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;

    img {
        width: 32px;
    }

    p {
        font-weight: 600;
        font-size: 18px;
    }

    .work_title {
        font-weight: 400;
        font-size: 16px;
    }

    .flex_row {
        gap: 16px;
    }
}

a {
    color: white;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h2 {
    font-size: 28px;
}

section,
footer {
    padding: 64px 24px;

    h2 {
        margin-bottom: 64px;
    }
}

nav {
    padding: 24px 24px;
}

#clickable_logo {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

#nav_links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 20px;
}

#hero {
    padding-bottom: 192px;
}

#hero_content {
    max-width: 500px;
    text-align: left;
    justify-content: space-between;

    h1 {
        p {
            font-size: 18px;
            line-height: 26px;
        }

        strong {

            font-size: 60px;
        }
    }

    p {
        font-size: 14px;
    }
}

#contact {
    .flex_column {
        max-width: 450px;
        text-align: left;
        gap: 8px;
    }

    h2 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 135%;
    }

    input {
        padding: 12px;
        padding-right: 128px;
        display: block;
    }

    input::placeholder {
        color: black;
    }
}
